@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #313131;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #5c40ff;
    border-right: 20px solid #5c40ff;
}

.icon{
    margin-bottom: 18px;
}

.icon img{
    width: 250px;
}

.content{
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #3f3f3f);
}

.content h3{
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;
    position: relative;
}

.content h3::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #5c40ff;
    bottom: 1px;
    border-radius: 100px;
}

.content p{
    color: #b7b7b7;
    text-indent: 1em;
    line-height: 1.5em;
}

#read_button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 16px;
    background-color: #5c40ff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    }   
    
#read_button:hover{
    background-color: transparent;
    color: black;
    background-color: #b7b7b7;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.card.active .content{
    height: auto;
}

.card.active .content::before{
    visibility: hidden;
}